<ion-header>
  <ion-toolbar>
    <ion-title>tweets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-row *ngFor="let tweet of tweets; index as i">
    <ion-item-sliding >
      <ion-item (click)="getComment(tweet._id, i);">
        <ion-label>
          <h2>{{tweet.tweet}}</h2>
  
          <p *ngIf="tweet._author; else userDeleted" class="user" [class.me]="canEdit(tweet)">
            {{ getAuthor(tweet) }} 
            <ion-icon *ngIf="canEdit(tweet)" name="heart" color="danger-tint"></ion-icon> 
          </p>
          <ng-template #userDeleted>
            <p class="user-deleted">User deleted</p>
          </ng-template>
  
        </ion-label>
        <ion-note slot="end">{{ tweet.created_at | unictDate: 1 }}</ion-note>
        <ion-button slot="end" id="button_comment" shape="round" (click)="createOrEditTweet(2, undefined, tweet._id)"><ion-icon name="text"></ion-icon></ion-button>
        <ion-button slot="end" color="danger" id="button_heart" shape="round" (click)="createOrEditTweet(2, undefined, tweet._id)">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
        <ion-button slot="end" [color]="checkFavorite(tweet) ? 'warning' : 'light'" id="button_heart" shape="round" (click)="addToFavorite(tweet._id)">
            <ion-icon [name]="checkFavorite(tweet) ? 'star' : 'star-outline'"></ion-icon>
          </ion-button>
          <!-- <ion-badge>{{tweet.count_likes}}</ion-badge> -->
        <!-- <ion-item (click)= "addRemoveLike(tweet)" ><ion-icon  name="heart" [class.heart] ="IsLike(tweet)"></ion-icon></ion-item> -->
      </ion-item>
  
      <ion-item-options *ngIf="canEdit(tweet)" side="end">
        <ion-item-option color="secondary" (click)="createOrEditTweet(3, tweet)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTweet(tweet)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <!-- <ion-label *ngIf="selectedIndex == i" color="success">Prova</ion-label> -->
    <ion-list *ngIf="selectedIndex == i" id="commentList">
      
      <ion-item *ngFor="let comment of comments"  color="light">
        <ion-label>
           
          <h2>{{comment.tweet}}</h2>
  
          <p *ngIf="tweet._author; else userDeleted" class="user" [class.me]="canEdit(tweet)">
            {{ getAuthor(comment) }} 
            <ion-icon *ngIf="canEdit(comment)" name="heart" color="danger-tint"></ion-icon> 
          </p>
          <ng-template #userDeleted>
            <p class="user-deleted">User deleted</p>
          </ng-template>
        </ion-label>
        <ion-note slot="end">{{ comment.created_at | unictDate: 1 }}</ion-note>
        <ion-button slot="end" color="danger" id="button_heart" shape="round" (click)="createOrEditTweet(2, undefined, tweet._id)">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-row>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createOrEditTweet(1)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
