.user-deleted {
    color: var(--ion-color-light-shade);
}

.user {
    color: var(--ion-color-secondary);
}

#btn_fav{
    margin-right: 10px;
}

.me {
    font-weight: bold;
    color: var(--ion-color-danger-tint);
}

div{
    ion-badge{
        border-radius: 50px;
        width: 20px;
        height: 20px;
    }
}

#button_comment{
    height: 35px;
    width: 35px;
}

#button_heart{
    height: 35px;
    width: 35px;
}

.heart{
    font-weight: bold;
    color: var(--ion-color-danger-tint);
}

#commentList{
    width: 100vw;
}